flask==2.2.5
flask-login==0.6.2
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
psycopg2-binary==2.9.9
python-dotenv==1.0.0
gunicorn==21.2.0
sqlalchemy==2.0.23
werkzeug==2.3.7
flask-moment==1.1.0  # Updated version
babel==2.12.1
python-dateutil==2.8.2
wtforms==3.0.1
